@import "tailwindcss";

@theme {
  --color-piz-bg: #1e1e1e;
  --color-piz-card-bg: #2a2a2a80;
  --color-piz-accent: #d4a937;
  --color-piz-text-bright: #f5f0e8;
  --color-piz-text-mute: #a39e93;
  --color-piz-secondary: #6b4c3b;
}

* {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1, h2, h3 {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
