@import "tailwindcss";

@theme {
  --color-piz-bg: #1e1e1e;
  --color-piz-card-bg: #2a2a2a80;
  --color-piz-accent: #d4a937;
  --color-piz-accent-transparent: #d4aa3783;
  --color-piz-text-bright: #f5f0e8;
  --color-piz-text-mute: #a39e93;
  --color-piz-secondary: #6b4c3b;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 0;
  font-style: normal;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.2rem;
  color: var(--color-piz-text-bright);
}

h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: var(--color-piz-text-bright);
}

.primary-btn {
  backdrop-filter: blur(7px);
  border: 3px solid var(--color-piz-accent);
  border-radius: 25px;

  padding: 0.3rem 0.9rem;
  cursor: pointer;

  font-size: clamp(0.9rem, 4vw, 1.5rem);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-piz-text-bright);

  display: flex;
  align-items: center;
}

.primary-btn:hover {
  background-color: var(--color-piz-accent);
  backdrop-filter: blur(0);
  color: var(--color-piz-bg);
}

.secondary-btn {
  background-color: var(--color-piz-accent);
  border: 3px solid var(--color-piz-accent);
  border-radius: 25px;

  padding: 0.3rem 0.9rem;
  cursor: pointer;

  font-size: clamp(0.9rem, 4vw, 1.5rem);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-piz-bg);

  display: flex;
  align-items: center;
}

.sm-secondary-btn {
  background-color: var(--color-piz-accent);
  border: 3px solid var(--color-piz-accent);
  border-radius: 25px;

  padding: 0.3rem 0.9rem;
  cursor: pointer;

  font-size: clamp(0.8rem, 4vw, 1rem);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-piz-bg);

  display: flex;
  align-items: center;
}

.secondary-btn:hover,
.sm-secondary-btn:hover {
  backdrop-filter: blur(7px);
  background-color: transparent;
  color: var(--color-piz-text-bright);
}

.btn-group {
  display: flex;
  gap: 1rem;
  margin: 2rem auto 0 auto;
  height: 50px;
}

hr {
  margin: 3rem auto;
  color: var(--color-piz-accent);
  width: 80%;
  box-shadow: 0 0px 19px var(--color-piz-accent);
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 40%,
    black 50%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 40%,
    black 50%,
    transparent
  );
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/*MENU CARD NAVIGATIONBAR*/

.page-title {
  font-size: clamp(1.8rem, 6vw, 3rem);
  line-height: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.page-title:before,
.page-title:after {
  content: "";
  height: 1px;
  max-width: 25%;
  opacity: 0.4;
  background: linear-gradient(
    to right,
    #0000,
    var(--color-piz-accent) 50%,
    #0000
  );
  flex: 1 1 0%;
}

.nav-items {
  position: relative;
  mask-image: linear-gradient(to right, black 85%, transparent);
  -webkit-mask-image: linear-gradient(to right, black 85%, transparent);
}

.nav-items .active{
  color: var(--color-piz-accent);
  border: 1px solid var(--color-piz-accent);
  padding: 0.5rem 1rem
}

.nav-scroll::-webkit-scrollbar {
  height: 2px;
}

.nav-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.nav-scroll::-webkit-scrollbar-thumb {
  background: var(--color-piz-accent-transparent);
  border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
  .nav-scroll {
    scrollbar-width: thin;
    scrollbar-color: var(--color-piz-accent-transparent) transparent;
  }
}

/*MENU CARD NAVIGATIONBAR*/

@media (max-width: 800px) {
  header.scrolled #nav-links {
    font-size: clamp(1rem, 1.8vw, 1.8rem);
    gap: 1rem;
    padding-top: 0.5rem;
  }
}

.category-grid {
  width: 95vw;
  max-width: 1750px;
  color: var(--color-piz-text-bright);
  margin: 3rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  place-items: center;
  gap: 2rem;
}
